<h1><%= @header %></h1>
<%= form_for @trip, url: { action: @action }, method: @method do |f| %>
    <table>
      <tbody>
        <tr>
          <td><%= f.label :name, "Name:" %></td>
          <td><%= f.text_area(:name, size: "25x1") %></td>
        </tr>
        <tr>
          <td><%= f.label "Description:" %></td>
          <td><%= f.text_area(:description, size: "25x3") %></td>
        </tr>
      </tbody>
    </table>
    <%= f.submit %>
<% end %>
