<h1>Create New Trip</h1>
<%= form_for @trip do |f| %>
    <table>
      <tbody>
        <tr>
          <td><%= f.label :name, "Trip Name:" %></td>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <td><%= f.label "Trip Description:" %></td>
          <td><%= f.text_field :description %></td>
        </tr>
      </tbody>
    </table>
    <%= f.submit %>
<% end %>
