<h1><%= @trip.name %></h1>

<%= link_to "Edit Trip", edit_trip_path(@trip.id) %>
<%=link_to "Delete Trip", trip_path(@trip.id), method: :delete, data: {confirm: "Confirm Deletion"} %>

<% if !@trip.description.empty? %>
  <p>Description: <%= @trip.description %></p>
<% end %>

<h3>Stops:</h3>
<table>
  <tbody>
    <% @stops.each do |stop| %>
      <tr>
        <td>◦ <%= link_to stop.name, trip_stop_path(@trip.id, stop.id) %></td>
        <td><%= link_to "✏︎", edit_trip_stop_path(@trip.id, stop.id) %></td>
        <td>| Delete |</td>
      </tr>
    <% end %>
    <tr>
      <td><%= link_to "+ Add A Stop", new_trip_stop_path(@trip.id) %></td>
    </tr>
  </tbody>
</table>
