<h1><%= @stop.name %></h1>

<% if !@stop.description.empty? %>
  <p>Description: <%= @stop.description %></p>
<% end %>
<p>Trip: <%= link_to @stop.trip.name,  trip_path(@stop.trip_id)%></p>

<h3>Activities:</h3>
<table>
  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= link_to "✏︎", edit_trip_stop_activity_path(@stop.trip_id, @stop.id, activity.id) %></td>
        <td><%=link_to "☒", trip_stop_activity_path(@stop.trip_id, @stop.id, activity.id), method: :delete, data: {confirm: "Confirm Deletion"} %></td>
      </tr>
    <% end %>
    <% if @activities.count == 0 %>
      <tr>
        <td>There are currently no activities for this destination.</td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to "+ Add An Activity", new_trip_stop_activity_path(@stop.trip_id, @stop.id) %>
